div, button, body{
    display: flex;
}


body{
    border: 0px black solid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #404258;
}

.calc{
    height: 700px;
    width: 500px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: gray;
    flex-direction: column;
}

.calc .top{
    height: 20%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px #404258 solid;
}
.text{
    width: 350px;
    flex-direction: column;
    background-color: lightgreen;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.result{
    height: 60%;
    font-size: 24px;
}

.last{
    height: 40%;
}

.buttons{
    flex-direction: column;
}

.bottom{
    height: 65%;
    width: 100%;
    padding: 5px;
}

.actions{
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.actions button{
    background-color: rgb(255, 56, 56);
    width: 200px;
}
.numbers{
    justify-content: space-evenly;
    padding: 10px;
    width: 70%;
    flex-wrap: wrap;
    gap: 20px;
}

.ops{
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

button{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    align-items:center;
    justify-content: center;
    font-size: 22px;
    color: white;
    background-color: #404258;
}

.ops button {
    font-size: 24px;
}

.footer {
    justify-content: center;
    align-items: center;
    height: 8%;
    font-size: 30px;
    color: white;
    font-weight: bold;
    border-top:  1px #404258 solid;
}